    <form method="post" action="/kayit_ol">
        <table>
 
            <tr>
                <td><label for="loginField">Eposta</label></td>
                <td><input id="loginField" type="email" name="eposta" required></td>
            </tr>
			
            <tr>
                <td><label for="passwordField">Şifre:</label></td>
                <td><input id="passwordField" type="password" name="sifre" required></td>
            </tr>
		 
            <tr>
                <td colspan="2" style="text-align: center"><input type="submit" value="Kayıt"></td>
            </tr>
        </table>
    </form>